/* requisitos do ex-02 */
/* Personagens pertencentes à Nintendo©
1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. */

/* .super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 400px;
  left: 70px;
}

.baloon {
  position: absolute;
  left: 500px;
  z-index: 1;
}

.speech {
  font-size: 25px;
  position: absolute;
  left: 525px;
  top: 115px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 800px;
  top: 200px;
} */

.super-mario {
  width: 200px;
  position: absolute;
  left: 350px;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  bottom: 140px;
  left: 410px;
  z-index: 2;
}

.baloon {
  position: absolute;
  top: 10%;
  right: 30%;
}

.speech {
  font-size: 25px;
  position: absolute;
  top: 16%;
  right: 33%;
  z-index: 3;
}

.bowser {
  position: absolute;
  width: 400px;
  right: 5%;
  bottom: 20%;
}