/* 🚀 Para fixar II
Para o próximo exercício, você não deve atribuir nenhuma classe ou id aos componentes, mas apenas utilizar pseudoclasses para individualizar cada elemento!

1 - Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda.
2 - Faça cada div ter uma cor própria.
3 - Estilize cada uma das tags h3.
4 - Faça a terceira div ser maior que as demais.
5 - Deixe as tags ímpares h3 com o texto em itálico. */

div:hover {
  border: black 2px dashed;
}

div:first-of-type {
  color: blue;
}

div:nth-last-of-type(4) {
  color: green;
}

div:nth-last-of-type(3) {
  color: darkmagenta;
}

div:nth-last-of-type(2) {
  color: darkslategray;
}

div:nth-last-of-type(1) {
  color: lightgreen;
}

