/* 🚀 Para fixar II
Para o próximo exercício, você não deve atribuir nenhuma classe ou id aos componentes, mas apenas utilizar pseudoclasses para individualizar cada elemento!

1 - Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda.
2 - Faça cada div ter uma cor própria.
3 - Estilize cada uma das tags h3.
4 - Faça a terceira div ser maior que as demais.
5 - Deixe as tags ímpares h3 com o texto em itálico. */

body {
  text-align: center;
}


/* 
div:first-of-type {
  color: blue;
}

div:nth-last-of-type(4) {
  color: green;
}

div:nth-last-of-type(3) {
  color: darkmagenta;
}

div:nth-last-of-type(2) {
  color: darkslategray;
}

div:nth-last-of-type(1) {
  color: lightgreen;
}
*/

/* teste 2 */
div:nth-of-type(1) {
  color: blue;
  background-color: rgb(118, 118, 250);
} 

div:nth-of-type(2) {
  color: green;
  background-color: rgb(117, 255, 117);
}

div:nth-of-type(3) {
  color: darkmagenta;
  background-color: rgb(245, 118, 245);
  width: 35%;
}

div:nth-of-type(4) {
  color: darkslategray;
  background-color: rgb(121, 250, 250);
}

div:nth-of-type(5) {
  color: lightgreen;
  background-color: rgb(9, 247, 9);
}

h3, p {
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  ;
}

div {
  width: 30%;
  margin: auto;
  padding: 5px;
}

div:hover {
  transition: .5s;
  border: black 2px dashed;
  background-color: transparent;
  border-radius: 10px;
  font-size: 20px;
}

div:nth-of-type(odd) > h3 {
  font-style: italic;
}