/* 游 Para fixar
E a칤? Viu o qu칚o incr칤vel o CSS pode ser?! Agora, para fixar ainda mais o conte칰do, vamos exercitar. */

/* Crie o arquivo style.css e resolva os seguintes exerc칤cios:
1 - Fa칞a com que todos os itens de Listas Ordenadas tenham uma cor de fundo amarela. Se a numera칞칚o do item for PAR, fa칞a a cor de fonte ser verde. Se o n칰mero for considerado 칈MPAR, utilize a propriedade text-transform para deixar o texto mai칰sculo. (Dica: combinar classes pode ser 칰til aqui).
2 - Fa칞a todas as tags Header (h1, h2...) possu칤rem cor de fonte vermelha e, se alguma delas estiver em it치lico, aumente seu tamanho para 40px e acrescente uma borda de 1px preta e s칩lida.
3 - Fa칞a todas as li's terem 20px de tamanho de fonte e, para todo texto em it치lico dentro de alguma li, utilize a propriedade font-weight para deix치-lo negrito.
4 - Na listagem de linguagens de programa칞칚o, fa칞a com que as 3 primeiras da lista possuam cor de fonte azul e, se alguma possuir "java*" no texto, utilize uma cor de fundo rosa.
5 - (B칪nus) Para cada link na lista de aliados da pessoa desenvolvedora, fa칞a com que ao passar o mouse sobre cada um, o texto fique em negrito e assuma a cor de fonte "tem치tica do site"
Dica 1: Utilize o seletor :hover para controlar o passar do mouse.
Dica 2: Sugest칚o de cores padr칚o. StackOverflow (laranja), W3Schools (verde), MDN (preta), DevDocs (amarela), Trybe (verde). */


ol li {
  background-color: yellow;
}

ol li:nth-child(even) {
  color: green;
}

ol li:nth-child(odd) {
  text-transform: uppercase;
}

.red-font {
  color: red;
}

.transformed {
  font-size: 40px;
  border: 1px black solid;
}

li {
  font-size: 20px;
}

em {
  font-weight: bold;
}

.prog-lang li:nth-of-type(-n+3) {
  color: blue;  
}

.pink {
  background-color: pink;
}